*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#header{
    width: 100%;
    background-color:#129799;
}
.headerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerUl{
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.headerImg{
    width: 30rem;
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerDivOne{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.headerDivTwo{
    width: 100%;
    height: 3rem; 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
/* nao sei outra forma de sobrepor uma imagme e um texto */
.divLogoNav{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    top: 0.9rem;
    left: 6rem;
    /* margin-left:15rem ; */
}
.logoNav{
z-index: 1;
width: 70%;
/* height: 70%; */
display: flex;
justify-content:center;
align-items: center;
}
/* justify-content:center; */
/* align-items: center; */

.linkHover {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   margin: 2rem;
}
.linkHover :hover{
transition: ease-in-out 0.2s;
transform: scale(1.1);
}
a{
    text-decoration: none;
    color: white;
    font-size:1.5rem ;
}
a :hover{
    transition: ease-in-out 0.2s;
    transform: scale(1.7);
}
h1{
    color: white;
font-size: 4rem;   
}
.listHover{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
   padding-left: 5rem;

}
.listHover :hover{
transition: ease-in-out 0.2s;
transform: scale(1.1);
}
/* /header */

/* main  */
body{
    width: 100%;
}
main{
    width: 100%;
    height: 65rem;
    background-color: #FFA185;
}
#mainAquarela{
    width: 80%;
    height: 13rem;
    margin-left: 2rem;
}
.DivAquarela{
    width: 80%;
    height: 13rem;
    padding-top: 2rem;
}
.tittle{
  font-size: 2rem;
  margin: 0rem 0 2rem 0;  
  color: white;
}
.paragraph{
    font-size: 2rem;
}
img{
  width: 30%;
}

.mainImg{
  /* border: solid rgb(0, 0, 0); */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.divMainImgOne{
    /* border: solid #129799 ; */
    margin: 1.2rem 0 1.2rem 0;
    width: 42vw;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    background-image: url("assets/img-1.jpeg");
    background-size: cover;
}
.divMainImgTwo{
    /* border: solid #129799 ; */
    margin: 1.2rem 0 1.2rem 0;
    width: 42vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    background-image: url("assets/img2.jpeg");
    background-size: cover;
}
.divMainImgThree{
    /* border: solid #129799 ; */
    margin: 1.2rem 0 1.2rem 0;
    width: 42vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    background-image: url("assets/img3.jpeg");
    background-size: cover;
}
.divMainImgOneFour{
    /* border: solid #129799 ; */
    margin: 1.2rem 0 1.2rem 0;
    width: 42vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    background-image: url("assets/img4.jpeg");
    background-size: cover;
}
.buttom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.divButtom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.buttom{
    color: black;
    font-weight: bolder;
}
footer{
background-color: #129799;
width: 100%;
height: 10rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.footerLogo{
border: solid salmon;
width: 20vw;
height: 10vh;
display: flex;
justify-content: space-evenly ;
}
.footerTxt{
    border: solid salmon;
    width: 35vw;
    height: 10vh;
    display: flex;
justify-content:space-around ;
}