*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 20rem;
    background-color:#129799;
}
.headerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerUl{
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.headerImg{
    width: 20rem;
}
.headerDivOne{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.headerDivTwo{
    width: 100%;
    height: 3rem; 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

 
}
li {
    list-style: nome;
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 5px;
}